# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Operating System Files
.DS_Store
Thumbs.db
